#
# Directories to exclude when building the docker image:
# For Docker we provide x86_64 and armhf for Perl 5.40 only
#
CPAN/arch/5.1*
CPAN/arch/5.2*
CPAN/arch/5.3*
CPAN/arch/5.4[2468]
Bin/arm-linux
Bin/darwin* 
Bin/i86* 
Bin/i386* 
Bin/MSWin* 
Bin/powerpc-linux
Bin/sparc-linux
icudt46b.dat
icudt58b.dat
Slim/Plugin/PreventStandby
#
# Some basic excludes
#
.editorconfig
.git
.github
.gitignore
**/t
**/ext-all-debug.js
Firmware/*.bin
Plugins/*
