#------------------------------------------------------------------------------
# PLEASE NOTE! 
#
# As the RPM distribution of Lyrion Music Server no longer supports Sys V 
# Init, this file has been obsoleted.
#
# Use systemd drop in files instead to adapt/amend the configuration.
# Read /usr/share/lyrionmusicserver/README.systemd for more information.
#
#------------------------------------------------------------------------------
